

//BASE BEGIN

html, body
	height: 100%
*
	box-sizing: border-box
a, button
	text-decoration: none
	color: inherit 
	cursor: pointer
input
	outline: 0

.slick-slide
	outline: 0

body
	font-size: 16px
	position: relative
	font-family: Roboto, sans-serif
	color: #000000
	font-weight: 400
	line-height: 26px
	overflow-x: hidden
	opacity: 1

 
.img-responsive
	display: block
	max-width: 100%
	height: auto


.wrapper
	max-width: 1230px
	padding: 0 15px
	width: 100%
	margin: 0 auto

.link
	text-decoration: underline
	color: black
	&:hover
		text-decoration: none

.arrow
	color: #ffffff
	font-size: 24px
	opacify: 1
	transition: opacity 0.5s ease
	&:hover
		opacity: 0.7
.acc-title
	font-size: 20px
	color: #ffffff
	line-height: 32px

.title
	margin: 0
	font-size: 32px
.subtitle
	margin: 0
	font-size: 24px
	
.hidden
	display: none!important
.container
	//background-image: url(~/img/logo.png)
	//background-size: cover


//BASE END
